{{ form_start(form) }}
{{ form_widget(form) }}
<form action="areas/imagen" method="post" enctype="multipart/form-data">
	<input type="file" name="imagen"><br/>
	<input type="submit">
</form>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
